<ul>
  <li>Name: <%= @registrant.name %></li>
  <li>Email: <%= @registrant.email %></li>
  <li>Phone: <%= @registrant.phone %></li>
  <li>Residence Size: <%= @registrant.residence_size %></li>
  <li>Referrer: <%= @registrant.referrer %></li>
  <li>Broker: <%= @registrant.is_a_broker ? 'Yes' : 'No' %></li>
  <li>Comments: <%= @registrant.comments %></li>
</ul>
